.preloader .spinner {background-color: #7ac143;}
.preloader .spinner .inner-circle {background-color: #fff;}
.profile-hr {border-color: #7ac143;}
.profile-title {color: #A7FF6D;}
.profile-info {color: #FFF}
.card1 .card-title {color: #FFF;}
.card2 {background: #7ac143;color: #f5f5f5;}
.card2 .card-title {color: #FFF;}
.card2 .card-info {color: #308030;}
.links ul li a {background: #7ac143;color: #fff;}
.progress-bar-primary {background-color: #FF9800;}