.preloader .spinner {background-color: #C60;}
.preloader .spinner .inner-circle {background-color: #fff;}
.profile-hr {border-color: #C60;}
.profile-title {color: #FF9933;}
.profile-info {color: #FFF}
.card1 .card-title {color: #FFA943;}
.card2 {background: #C60;color: #f5f5f5;}
.card2.card-title {color: #FFF}
.card2 .card-info {color: #FFA943;}
.links ul li a {background: #C60;color: #fff;}
.progress-bar-primary {background-color: #8BC34A;}