<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>成长之旅 | Heleeos blog</title>
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/blog-web/css/style.css">
    </head>
    <body>
        <div class="header hidden-xs col-sm-12">
		    <a href="https://heleeos.com/" class="logo">
		        <img class="logo-image" src="https://static.heleeos.com/logo.png"></img>
		    </a>
		    <nav class="main-nav">
		        <a class="main-nav-link" href="https://heleeos.com/">主页</a>
		        <a class="main-nav-link" href="">目录</a>
		        <a class="main-nav-link" href="">技术干货</a>
		        <a class="main-nav-link" href="">读书感悟</a>
		        <a class="main-nav-link" href="https://heleeos.com/profile/index.html">关于我</a>
		    </nav>
		    <nav class="profile-nav hidden-lg">
		        <img class="profile-image" src="https://static.heleeos.com/blog-web/image/profile.jpg">
		        <a href="javascript:;"><i class="fa fa-caret-down"></i></a>
		    </nav>
		</div>

		<div class="header visible-xs-block" style="height: 50px;">
		    <nav class="mobile-nav">
		        <a class="mobile-nav-link" href="https://heleeos.com/">目录</a>
		        <a class="mobile-nav-link" href="">技术干货</a>
		        <a class="mobile-nav-link" href="">读书感悟</a>
		        <a class="mobile-nav-link" href="https://heleeos.com/profile/index.html">关于我</a>
		    </nav>
		</div>
		
        <div class="container-fluid">
            <div class="left visible-lg-inline-block col-lg-3">
			    <div class="card">
			        <img class="profile-image" src="https://static.heleeos.com/blog-web/image/profile.jpg">
			        <p class="profile-name">李瑜</p>
			        <p class="profile-info">爱生活，爱学习，更爱写代码<br>爱折腾的全栈开发工程师<br>前端，后台，运维</p>
			        <p class="profile-location"><i class="fa fa-map-marker"></i>中国 - 上海</p>
			        <a class="profile-button btn" href="https://github.com/greenfit" target="_blank">Follow</a>
			        <div class="profile-other">
			            <a href="https://git.oschina.net/IP" target="_blank"><i class="fa fa-git"></i></a>
			            <a href="https://codepen.io/greenfit/" target="_blank"><i class="fa fa-codepen"></i></a>
			            <a href="https://www.freecodecamp.com/greenfit" target="_blank"><i class="fa fa-free-code-camp"></i></a>
			            <a href="mailto:kissaoe@gmail.com?subject=I Love You~" target="_blank"><i class="fa fa-envelope"></i></a>
			            <a href="https://www.facebook.com/profile.php?id=100010520951879" target="_blank"><i class="fa fa-facebook"></i></a>
			        </div>
			    </div>
			</div>
            <div class="main col-xs-12 col-sm-9 col-md-9 col-lg-7">
                {{{body}}}
            </div>
            <div class="right hidden-xs col-sm-3 col-md-3 col-lg-2"> 
			    <h3>公告</h3> 
			    <div class="card">
			        <div class="info">网站上线了</div>
			    </div>
			    <h3>公众号</h3> 
			    <img src="https://static.heleeos.com/blog-web/image/qrcode.jpg">
			    <h3>分类</h3>
			    <div class="type">
			        <ul class="type-list">
			            <li class="type-list-item"><a class="type-list-link" href=""><i class="fa fa-caret-right"></i>随笔感悟</a><span class="type-list-count">(5)</span></li>
			            <li class="type-list-item"><a class="type-list-link" href=""><i class="fa fa-caret-right"></i>随笔感悟</a><span class="type-list-count">(5)</span></li>
			            <li class="type-list-item"><a class="type-list-link" href=""><i class="fa fa-caret-right"></i>随笔感悟</a><span class="type-list-count">(5)</span></li>
			        </ul>
			    </div>
			    <h3>标签</h3>
			    <dic class="tags">
			        <a href="">Spring</a>
			        <a href="">Spring Bean</a>
			        <a href="">Spring MVC</a>
			        <a href="">MySQL</a>
			        <a href="">Java8</a>
			        <a href="">JVM</a>
			        <a href="">AOP</a>
			    </dic>
			</div>
        </div>
        <div class="footer">
		    <a href="https://heleeos.com/profile/" target="_blank">李瑜</a> | 博客  2017 &copy;<br> 豫ICP备17009313号<br>
		</div>
    </body>
</html>


