<div class="timeline">
    <div class="timeline-row timeline-year">
        <span class="node"><i class="fa fa-folder"></i></span>
        <h1 class="title">xx分类</h1>
    </div>
    <div class="timeline-row">
        <span class="node"></span>
        <div class="content">
            <div class="article-name">
                <a href="#">title</a>
            </div>
            <div class="article-meta">
                <div class="date">
                    <i class="fa fa-calendar"></i>
                    <a href="#">2017-04-03</a>
                </div>
                <div class="type">
                    <i class="fa fa-folder"></i>
                    <a href="#">分类</a>
                </div>
                <div class="tags">
                    <i class="fa fa-tag"></i>
                    <a href="#">Nginx</a>, <a href="#">Zuul</a>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-row">
        <span class="node"></span>
        <div class="content">
            <div class="article-name">
                <a href="#">title</a>
            </div>
            <div class="article-meta">
                <div class="date">
                    <i class="fa fa-calendar"></i>
                    <a href="#">2017-04-03</a>
                </div>
                <div class="type">
                    <i class="fa fa-folder"></i>
                    <a href="#">分类</a>
                </div>
                <div class="tags">
                    <i class="fa fa-tag"></i>
                    <a href="#">Nginx</a>, <a href="#">Zuul</a>
                </div>
            </div>
        </div>
    </div>
</div>