<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.dao.BlogTypeMapper">

  <sql id="Base_Column_List">id, type_module, type_name, type_count</sql>
    
  <insert id="insert" parameterType="com.heleeos.blog.bean.BlogType" keyProperty="id">
    insert into t_blog_type (type_module, type_name, type_count)
    values (#{typeModule}, #{typeName,  jdbcType=VARCHAR}, #{typeCount, jdbcType=INTEGER})
  </insert>
  
  <update id="update" parameterType="com.heleeos.blog.bean.BlogType">
    update t_blog_type set
    type_module = #{typeModule,jdbcType=VARCHAR},
    type_name   = #{typeName,  jdbcType=VARCHAR},
    type_count  = #{typeCount, jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="get" resultType="com.heleeos.blog.bean.BlogType">
    select  <include refid="Base_Column_List" /> from t_blog_type where id = #{id,jdbcType=INTEGER} limit 1
  </select>
  
  <select id="getList" resultType="com.heleeos.blog.bean.BlogType">
    select  <include refid="Base_Column_List" /> from t_blog_type
  </select>
  
</mapper>