<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.mapper.BlogTypeMapper">
  <resultMap id="BaseResultMap" type="com.heleeos.blog.bean.BlogType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="moduleId" jdbcType="INTEGER" property="moduleid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  
  <sql id="Base_Column_List">id, name, moduleId, content</sql>
    
  <insert id="insert" parameterType="com.heleeos.blog.bean.BlogType">
    insert into t_blog_type (id, name, moduleId, content) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{moduleid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.heleeos.blog.bean.BlogType">
    update t_blog_type set name = #{name,jdbcType=VARCHAR},
                       moduleId = #{moduleid,jdbcType=INTEGER},
                        content = #{content,jdbcType=VARCHAR}
                       where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from t_blog_type where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="gets" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from t_blog_type
  </select>
  
</mapper>