.blog-body{font-family:"Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;padding: 0 15px;color:#3d464d;line-height:28px}
.blog-body code,kbd,pre,samp {font-family: Menlo,Monaco,Consolas,"Courier New",monospace;}
.blog-body .blog-table{overflow:hidden;overflow-x:auto}
.blog-body code,.blog-body pre{font-size:13px}
.blog-body pre {display: block;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 1.42857143;color: #333;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc;border-radius: 4px;}
.blog-body pre code{padding: 0;font-size: inherit;color: inherit;white-space: pre-wrap;background-color: transparent; border-radius: 0;}
.blog-body pre code::-webkit-scrollbar,.blog-body pre::-webkit-scrollbar{width:5px!important;height:5px!important;-webkit-appearance:none}
.blog-body pre code::-webkit-scrollbar-thumb,.blog-body pre::-webkit-scrollbar-thumb{background:rgba(153,153,153,.9)}
.blog-body p{margin-bottom:16px}
.blog-body ol,.blog-body ul{margin:0 0 0 30px;padding:8px 15px}
.blog-body ol{list-style-type:decimal}
.blog-body ul{list-style-type:disc}
.blog-body img{clear: both;display: block;margin:auto;max-width:100%;height:auto;border: 1px solid #888;}
.blog-body table{border-collapse:collapse;border-spacing:1px;font-size:14px;color:#444;display:block;overflow-x:auto;max-width:100%;border:0}
.blog-body table thead{text-align:left;background:#f8f8f8}
.blog-body table td,.blog-body table th{padding:4px 8px;border:1px solid #ccc}
.blog-body h1,.blog-body h2,.blog-body h3,.blog-body h4,.blog-body h5{font-weight:500}
.blog-body h1{font-size:24px;margin: 19px 0px;}
.blog-body h2{font-size:22px;margin: 18px 0px;}
.blog-body h3{font-size:18px;margin: 17px 0px;}
.blog-body h4{font-size:16px;margin: 16px 0px;}
.blog-body video{max-width:100%}
.blog-body blockquote {padding: 10px 20px;margin: 0 0 20px;font-size: 17.5px;border-left: 5px solid rgba(104, 152, 237, 0.7);background-color: #f5f8f9;}
.blog-copy-info{padding: 10px 20px;margin: 30px 10px;border-left: 5px solid #8BC34A;background-color: #f5f8f9;}
.blog-copy-info p{margin: 3px 0;}