.header {z-index: 1000;height: 65px;background: #fff;position: relative;-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
.header a {white-space: nowrap;-webkit-transition: 0.2s ease;-moz-transition: 0.2s ease;-ms-transition: 0.2s ease;transition: 0.2s ease;color: #565a5f;text-decoration: none;}
.header a:hover {color: #95b6f2;text-decoration: none;}
.header .logo {display: inline-block;float: left;}
.header .logo .logo-image {margin-top: 5px;margin-left: 15px;height: 50px;}
.header .logo .site-title {font-size: 16px;display: inline-block;vertical-align: top;font-weight: 600;line-height: 40px;}
.header .main-nav {line-height: 40px;padding: 12px 15px;float: left;}
.header .main-nav .main-nav-link {font-weight: 300;float: left;display: block;padding: 0 15px;}
.header .profile-nav {float: right;line-height: 40px;padding: 12px 15px;}
.header .profile-nav i {float: left;line-height: 40px;margin-left: 8px;}
.header .profile-nav .profile-image {float: left;width: 40px;height: 40px;}
.header .mobile-nav {line-height: 20px;padding: 15px 15px;float: left;}
.header .mobile-nav .mobile-nav-link {font-weight: 300;float: left;display: block;padding: 0 15px;}

.card{overflow: hidden;background: #fff;border: 1px solid #eee;-webkit-transition: 0.3s;transition: 0.3s;}
.card:hover{-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}

.container-fluid {padding-top: 90px;}
.container-fluid .left {display: block;float: left;max-width: 281px;min-width: 281px;}
.container-fluid .main {display: inline;float: left;}
.container-fluid .right {display: inline;float: left;}

.left .card .profile-image {display: block;margin: 10px auto 20px;width: 128px;height: 128px;border-radius: 50%;padding: 4px;line-height: 1.42857143;background-color: #fff;border: 1px solid #ddd;}
.left .card .profile-name {font-size: 30px;font-weight: 600;display: block;text-align: center;}
.left .card .profile-info {display: block;text-align: center;line-height: 30px;}
.left .card .profile-location {font-size: 14px;margin-top: 5px;color: #9a9ea3;display: block;text-align: center;}
.left .card .profile-location i{margin-right: 5px;}
.left .card .profile-button {color: #fff;width: 150px;height: 40px;display: block;font-size: 18px;text-align: center;margin: 20px auto 10px;background: #6898ed;border-radius: 20px;-webkit-transition: 0.2s ease;-moz-transition: 0.2s ease;-ms-transition: 0.2s ease;transition: 0.2s ease;}
.left .card .profile-button:hover {background: #71a9ec;}
.left .card .profile-other {height: 60px;padding: 18px 0px;border-top: 1px solid #eceff2;}
.left .card .profile-other a {font-size: 25px;position: relative;-webkit-transition: 0.2s ease;-moz-transition: 0.2s ease;-ms-transition: 0.2s ease;transition: 0.2s ease;color: #898d92;margin-left: 18px;}
.left .card .profile-other a:hover {color: #565a5f;}
.left h3 {margin: 20px 0;font-size: 20px;}
.left img {width:100%;margin-bottom: 20px;border: 1px solid #eee;-webkit-transition: 0.3s;transition: 0.3s;}
.left img:hover{-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}

.main .card {margin-bottom: 30px;position: relative;}
.main .card i {margin-right: 8px;}
.main .card hr {margin: 15px 0;}
.main .card .title {padding: 20px 20px 0;}
.main .card .title a {font-size: 2em;color: #6898ed;text-decoration: none;line-height: 1.3em;}
.main .card .title a:hover {color: #95b6f2;}
.main .card .meta {padding: 20px 20px 0;}
.main .card .meta .time {float: left;margin-right: 30px;}
.main .card .meta .type {float: left;margin-right: 30px;}
.main .card .meta .count {float: none}
.main .card .meta .tag {float: none;margin-top: 10px;}
.main .card .meta .tag a {color: #999;text-decoration: none;margin-right: 8px;font-size: 15px;}
.main .card .meta .tag a:hover {color: #565a5f;}
.main .card .tags {float: left;margin: 0 0 20px 15px;}
.main .card .tags a {color: #999;text-decoration: none;margin-right: 8px;font-size: 15px;}
.main .card .tags a:hover {color: #565a5f;}
.main .card .info {color: #9a9ea3;line-height: 30px;padding: 10px 20px;font-style: italic;}
.main .card .readCount {float: right;margin-right: 15px;color: #999;}
.main .card .tj {position: absolute;right: 0px;top: 0px;}

.right h3 {margin-bottom: 20px;}
.right .card {padding: 10px 15px;height: 140px;background: #fff6c9;margin-bottom: 20px;}
.right .type {line-height: 20px;word-wrap: break-word;font-size: 10px;margin-bottom: 20px;}
.right .type .type-list {list-style: none;margin: 0;}
.right .type .type-list-item {padding: 10px 0;font-size: 16px;}
.right .type .type-list-link {color: #777;text-decoration: none;}
.right .type .type-list-link:hover {color: #333;text-decoration: none;}
.right .type .type-list-link i {margin-right: 8px;color: #ccc;font-size: 14px;}
.right .type .type-list-count {padding-left: 5px;color: #999;font-size: 0.85em;}
.right .tags {word-wrap: break-word;}
.right .tags a{font-size: 10px;margin-right: 5px;color: #6898ed;text-decoration: none;}
.right .tags a:hover{color: #333;}

.page-nav {margin: 20px auto 0px;text-align: center;color: #999;overflow: hidden;}
.page-nav .page-number {display: inline-block;height: 32px;padding: 0 10px;line-height: 32px;text-align: center;border-radius: 2px;}
.page-nav .page-number {color: #999;text-decoration: none;}
.page-nav .page-number:hover {color: #fff;background: #6898ed;text-decoration: none;}
.page-nav .current {color: #565a5f;font-weight: bold;}
.page-nav .current:hover {color: #565a5f;background: none;text-decoration: none;}

.footer {padding-top: 8px;border-top: 1px solid #eceff2;color: #565a5f;text-align: center;line-height: 25px;font-size: 15px;margin-top: 30px;background: #fff;-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
.footer a{color: #565a5f;}
.footer .beian {width:450px;margin:0 auto;}
.footer .beian .icp {padding-left: 8px;margin: 5px 0;}
.footer .beian .beian-link {display:inline-block;text-decoration:none;height:20px;line-height:20px;}
.footer .beian .beian-title {float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;padding-left: 0px;}

.main .timeline{margin: 0 15px;border-left: 3px solid #eee;}
.main .timeline .timeline-row:before, .timeline-row:after {content: "";display: table;}
.main .timeline .timeline-row:after {clear: both;}
.main .timeline .timeline-row{margin: 20px 0;}
.main .timeline .timeline-row .node {float: left;width: 12px;color: #fff;height: 12px;border-radius: 50%;margin: 11px 0 0 -8px;display: inline-block;background-color: #68a4f1;}
.main .timeline .timeline-row .title {float: left;}
.main .timeline .timeline-row .content {margin-left: 25px;position: relative;background: #fff;-webkit-transition: 0.3s;transition: 0.3s;}
.main .timeline .timeline-row .content:hover{-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
.main .timeline .timeline-row .content .article-name{font-size: 18px;padding: 10px;}
.main .timeline .timeline-row .content .article-meta{font-size: 14px;color: #898d92;border-top: 1px solid #f7f7f7;background-color: rgba(244,246,247,0.2);padding: 10px;}
.main .timeline .timeline-row .content .article-meta .date{float: left;margin-right: 10px;}
.main .timeline .timeline-row .content .article-meta .type{float: left;margin-right: 10px;}
.main .timeline .timeline-row .content .article-meta .tags{margin-right: 10px;}
.main .timeline .timeline-row .content .article-meta .tags a{margin-right: 8px;}
.main .timeline .timeline-row .content .article-meta i {color: #565a5f;}
.main .timeline .timeline-row .content .article-meta a {color: #999;}
.main .timeline .timeline-row .content .article-meta a:hover {color: #565a5f;}
.main .timeline .timeline-year .node {width: 40px;height: 40px;font-size: 21px;padding: 5px 10px;margin: -5px 0px 0px -20px;}
.main .timeline .timeline-year .title {font-size: 18px;margin-left: 15px;line-height: 30px;}

.catalog{position: absolute;padding-left: 10px;overflow: hidden;overflow-y: auto;height: 540px;margin-top: 20px;width: 88%;display: none;}
.catalog-fixed{position: fixed;top: 10px;}
.catalog a{color: #9a9ea3;transition: all, 0.2s;}
.catalog .sidebar-scrollbar{width: 3px;height: 20px;display: inline-block;background: #a1d769;position: absolute;left: 9px;top: 7px;z-index: 1;-webkit-transition: all,.4s;transition: all,.4s;}
.catalog .catalog-content{border-left: 1px solid #CCC;padding-left: 10px;-webkit-transition: all,.5s;transition: all,.5s;position: absolute;font-size: 13px;}
.catalog .catalog-content li{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin: 10px 0;}
.catalog .catalog-content li a{width: 100%;}
.catalog .catalog-content:after, .catalog-content:before{z-index: 1;content: "";display: inline-block;width: 9px;height: 9px;border-radius: 50%;border: 1px solid #A1A1A1;position: absolute;left: -5px;background: #f8f8f8;}
.catalog .catalog-content .active a{color: #333;font-size: 15px;}
.catalog .catalog-content .blog-catalog-h2{padding-left: 5px;font-size: 14px;}
.catalog .catalog-content .blog-catalog-h3{padding-left: 25px;}