<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heleeos.blog.dao.BlogMapper">
    <sql id="blog_base_column_list">
        id, blog_title, disp_url, blog_summary, create_time, update_time, manager_id,
        blog_type, read_count, blog_tags, content_type, blog_state, disp_index
    </sql>
    
    <sql id="blog_all_column_list">
         <include refid="blog_base_column_list"/>, blog_content
    </sql>

    <insert id="insert" parameterType="com.heleeos.blog.bean.Blog">
        insert into t_blog (blog_title, disp_url, blog_summary, create_time, update_time, manager_id, blog_type, read_count, blog_tags, content_type, blog_state, disp_index, blog_content)
                    values (#{blogTitle,jdbcType=VARCHAR},   #{dispUrl,jdbcType=VARCHAR},
                            #{blogSummary,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                            #{managerId,jdbcType=INTEGER},   #{blogType,jdbcType=VARCHAR},     #{readCount,jdbcType=INTEGER},
                            #{blogTags,jdbcType=VARCHAR},    #{contentType,jdbcType=TINYINT},  #{blogState,jdbcType=TINYINT},
                            #{dispIndex,jdbcType=TINYINT},   #{blogContent,jdbcType=LONGVARCHAR})
    </insert>
    
    <update id="update" parameterType="com.heleeos.blog.bean.Blog">
        update t_blog set blog_title = #{blogTitle,jdbcType=VARCHAR},
                          disp_url = #{dispUrl,jdbcType=VARCHAR},
                          blog_summary = #{blogSummary,jdbcType=VARCHAR},
                          create_time = #{createTime,jdbcType=TIMESTAMP},
                          update_time = #{updateTime,jdbcType=TIMESTAMP},
                          manager_id = #{managerId,jdbcType=INTEGER},
                          blog_type = #{blogType,jdbcType=VARCHAR},
                          read_count = #{readCount,jdbcType=INTEGER},
                          blog_tags = #{blogTags,jdbcType=VARCHAR},
                          content_type = #{contentType,jdbcType=TINYINT},
                          blog_state = #{blogState,jdbcType=TINYINT},
                          disp_index = #{dispIndex,jdbcType=TINYINT},
                          blog_content = #{blogContent,jdbcType=LONGVARCHAR}
                    where id = #{id,jdbcType=INTEGER}
    </update>
    
    <select id="get" resultType="com.heleeos.blog.bean.Blog">
        select <include refid="blog_all_column_list" /> from t_blog where id = #{id} limit 1
    </select>
    
    <select id="getByURL" resultType="com.heleeos.blog.bean.Blog">
        select <include refid="blog_all_column_list" /> from t_blog where disp_url = #{url} limit 1
    </select>
    
    <select id="getList" resultType="com.heleeos.blog.bean.Blog">
        select <include refid="blog_base_column_list" /> from t_blog
        where 1=1
            <if test="type != null">
                and blog_type = #{type}
            </if>
            <if test="state != null">
                and blog_state = #{state}
            </if>
            <if test="tags != null">
                and blog_tags like "%${tags}%"
            </if>
        order by disp_index desc, id desc limit #{index}, #{rows}
    </select>
    
    <select id="getCount" resultType="java.lang.Integer">
        select count(0) from t_blog 
        where 1=1
            <if test="type != null">
                and blog_type = #{type}
            </if>
            <if test="state != null">
                and blog_state = #{state}
            </if>
            <if test="tags != null">
                and blog_tags like "%${tags}%"
            </if>
    </select>
    
    <update id="changeIndex">
        update t_blog set disp_index = #{index} where id = #{id}
    </update>
    
    <update id="changeState">
        update t_blog set blog_state = #{state} where id = #{id}
    </update>
    
    <update id="addCount">
        update t_blog set read_count = read_count + 1 where id = #{id}
    </update>
    
    <update id="addCountByUrl">
        update t_blog set read_count = read_count + 1 where disp_url = #{url}
    </update>
</mapper>